.body {
  margin: 0;
  padding: 0;
}

.header {
  background: #000;
  color: #ddd;
  height: 100vh;
}

.header__nav {
  text-align: center;
}

.header__nav__navbar {
  list-style-type: none;
  text-align: center;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__nav__navbar__nav-item {
  margin: 0 -2rem;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  white-space: nowrap;
}

.header__nav__navbar:hover {
  cursor: pointer;
  width: 100%;
}

.header__nav__navbar:hover .header__nav__navbar__nav-item {
  margin: 0 2rem;
  opacity: 1;
}

.header__nav__navbar:hover .header__nav__navbar__nav-item:hover {
  text-decoration: underline;
}

.header__nav-logo {
  font-size: 2rem;
}

.header__section {
  height: 85vh;
}

.header__section__name {
  white-space: nowrap;
}

.header__video {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-family: sans-serif;
  letter-spacing: 0.2em;
}

.header__h1 .header__span {
  opacity: 0;
  display: inline-block;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.header__section__name:nth-child(1) .header__span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.header__section__name:nth-child(1) .header__span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.header__section__name:nth-child(1) .header__span:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header__section__name:nth-child(1) .header__span:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__section__name:nth-child(1) .header__span:nth-child(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.header__section__name:nth-child(1) .header__span:nth-child(6) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.header__section__name:nth-child(1) .header__span:nth-child(7) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.header__section__name:nth-child(2) .header__span:nth-child(1) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.header__section__name:nth-child(2) .header__span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header__section__name:nth-child(2) .header__span:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__section__name:nth-child(2) .header__span:nth-child(4) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.header__section__name:nth-child(2) .header__span:nth-child(5) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.header__section__name:nth-child(3) .header__span:nth-child(1) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.header__section__name:nth-child(3) .header__span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header__section__name:nth-child(3) .header__span:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__section__name:nth-child(3) .header__span:nth-child(4) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

html {
  scroll-behavior: smooth;
}

.header__section-description {
  font-size: 1rem;
  border: solid 2px #ddd;
  color: #ddd;
  max-width: 80%;
  margin: 3rem auto 0;
  padding: 10px;
}

.header__section-description {
  opacity: 0;
  display: inline-block;
  -webkit-animation: animate 2s linear forwards;
          animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.box {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box .header__section__scroll {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: scrol 2s infinite;
          animation: scrol 2s infinite;
}

.box .header__scrolldown-button .header__section__scroll:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.box .header__scrolldown-button .header__section__scroll:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes scrol {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes scrol {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
}

.main__background {
  color: black;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main__section-title {
  font-size: 3rem;
  font-family: 'inconsolata', monospace;
  color: #fff;
  text-align: center;
  height: 5.1rem;
  text-shadow: 0 0 20px #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.main__section-flip {
  margin-right: 1rem;
  background-color: black;
  height: 39rem;
}

.main__section-text-h6 {
  background-color: white;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: black;
  border: solid 1px black;
  width: 300px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  cursor: pointer;
  position: relative;
  left: -128px;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.main__section-icons {
  text-align: center;
}

.main__section__icons-wrapper {
  height: 36rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__section-hobbies {
  width: 0;
  overflow: hidden;
  list-style: none;
  -webkit-transition: 2s;
  transition: 2s;
  color: black;
}

.main__section-text {
  color: #fff;
  font-family: 'barlow condensed', sans-serif;
  font-size: 1.43rem;
  text-align: center;
  border: solid 1px black;
  width: 300px;
  height: 36rem;
  line-height: 2.2rem;
  border: white 2px solid;
  position: relative;
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(54px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(38px, 9999px, 61px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(69px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(26px, 9999px, 20px, 0);
  }
  25% {
    clip: rect(64px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(77px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 39px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 12px, 0);
  }
  50% {
    clip: rect(34px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(95px, 9999px, 84px, 0);
  }
  60% {
    clip: rect(61px, 9999px, 1px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 24px, 0);
  }
  75% {
    clip: rect(7px, 9999px, 76px, 0);
  }
  80% {
    clip: rect(37px, 9999px, 90px, 0);
  }
  85% {
    clip: rect(53px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(81px, 9999px, 83px, 0);
  }
  95% {
    clip: rect(87px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 60px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(54px, 9999px, 10px, 0);
  }
  5% {
    clip: rect(38px, 9999px, 61px, 0);
  }
  10% {
    clip: rect(26px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(69px, 9999px, 66px, 0);
  }
  20% {
    clip: rect(26px, 9999px, 20px, 0);
  }
  25% {
    clip: rect(64px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(77px, 9999px, 72px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 39px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 100px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 12px, 0);
  }
  50% {
    clip: rect(34px, 9999px, 61px, 0);
  }
  55% {
    clip: rect(95px, 9999px, 84px, 0);
  }
  60% {
    clip: rect(61px, 9999px, 1px, 0);
  }
  65% {
    clip: rect(44px, 9999px, 43px, 0);
  }
  70% {
    clip: rect(24px, 9999px, 24px, 0);
  }
  75% {
    clip: rect(7px, 9999px, 76px, 0);
  }
  80% {
    clip: rect(37px, 9999px, 90px, 0);
  }
  85% {
    clip: rect(53px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(81px, 9999px, 83px, 0);
  }
  95% {
    clip: rect(87px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 60px, 0);
  }
}

.main__section-title:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(55px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 55px, 0);
  }
  10% {
    clip: rect(2px, 9999px, 5px, 0);
  }
  15% {
    clip: rect(52px, 9999px, 59px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(2px, 9999px, 28px, 0);
  }
  30% {
    clip: rect(43px, 9999px, 32px, 0);
  }
  35% {
    clip: rect(79px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(97px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(72px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(34px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(55px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(8px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(67px, 9999px, 7px, 0);
  }
  75% {
    clip: rect(1px, 9999px, 28px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 55px, 0);
  }
  85% {
    clip: rect(56px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(83px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(58px, 9999px, 18px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(55px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 55px, 0);
  }
  10% {
    clip: rect(2px, 9999px, 5px, 0);
  }
  15% {
    clip: rect(52px, 9999px, 59px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 66px, 0);
  }
  25% {
    clip: rect(2px, 9999px, 28px, 0);
  }
  30% {
    clip: rect(43px, 9999px, 32px, 0);
  }
  35% {
    clip: rect(79px, 9999px, 73px, 0);
  }
  40% {
    clip: rect(97px, 9999px, 95px, 0);
  }
  45% {
    clip: rect(72px, 9999px, 13px, 0);
  }
  50% {
    clip: rect(34px, 9999px, 71px, 0);
  }
  55% {
    clip: rect(55px, 9999px, 98px, 0);
  }
  60% {
    clip: rect(6px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(8px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(67px, 9999px, 7px, 0);
  }
  75% {
    clip: rect(1px, 9999px, 28px, 0);
  }
  80% {
    clip: rect(31px, 9999px, 55px, 0);
  }
  85% {
    clip: rect(56px, 9999px, 27px, 0);
  }
  90% {
    clip: rect(58px, 9999px, 4px, 0);
  }
  95% {
    clip: rect(83px, 9999px, 15px, 0);
  }
  100% {
    clip: rect(58px, 9999px, 18px, 0);
  }
}

.main__section-title:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.main__section-textcontainer {
  background-color: black;
  padding: 1.5rem;
}

.main__section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main__image1 {
  max-width: 30rem;
  max-height: 36rem;
}

.main__image-container {
  text-align: center;
  border: 1px solid black;
}

.lni-instagram-original {
  margin-left: 1rem;
  color: darkgrey;
  font-size: 1.5rem;
}

.lni-instagram-original:hover {
  cursor: pointer;
  -webkit-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
  font-size: 2rem;
}

.lni-facebook-original {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.lni-facebook-original:hover {
  cursor: pointer;
  -webkit-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
  font-size: 2rem;
}

.lni-linkedin-original {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.lni-linkedin-original:hover {
  cursor: pointer;
  -webkit-transition: ease-in-out all 1s;
  transition: ease-in-out all 1s;
  font-size: 2rem;
}

.main__button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__button-cv {
  background: none;
  color: #000;
  border: 1px solid #000;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.main__button-cv:hover {
  background: #000;
  color: #fff;
}

.contact-map--container {
  height: 450px;
  overflow: hidden;
}

.footer__contact {
  background: #000;
  padding: 80px 0;
  text-align: center;
}

.footer__contact-h1 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}

.name,
.email,
.message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: #fff;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
  margin: 1rem;
}

.name {
  width: 270px;
}

.email {
  width: 270px;
}

.message {
  min-width: 70%;
  max-width: 70%;
}

.name::-webkit-input-placeholder {
  color: #fff;
}

.name:-ms-input-placeholder {
  color: #fff;
}

.name::-ms-input-placeholder {
  color: #fff;
}

.name::placeholder {
  color: #fff;
}

.email::-webkit-input-placeholder {
  color: #fff;
}

.email:-ms-input-placeholder {
  color: #fff;
}

.email::-ms-input-placeholder {
  color: #fff;
}

.email::placeholder {
  color: #fff;
}

.message::-webkit-input-placeholder {
  color: #fff;
}

.message:-ms-input-placeholder {
  color: #fff;
}

.message::-ms-input-placeholder {
  color: #fff;
}

.message::placeholder {
  color: #fff;
}

.footer__button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.footer__button:hover {
  background: #fff;
  color: #000;
}

@media screen and (max-width: 600px) {
  .name,
  .email {
    width: 100%;
  }
}
/*# sourceMappingURL=portfolio.css.map */