.body {
  margin: 0;
  padding: 0;
}

.header {
  background: #000;
  color: #ddd;
  height: 100vh;
}

.header__nav {
  text-align: center;
}

.header__nav__navbar {
  list-style-type: none;
  text-align: center;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.header__nav__navbar__nav-item {
  margin: 0 -2rem;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  white-space: nowrap;
}

.header__nav__navbar:hover {
  cursor: pointer;
  width: 100%;
}

.header__nav__navbar:hover .header__nav__navbar__nav-item {
  margin: 0 2rem;
  opacity: 1;
}

.header__nav__navbar:hover .header__nav__navbar__nav-item:hover {
  text-decoration: underline;
}

.header__nav-logo {
  font-size: 2rem;
}

.header__section {
  height: 85vh;
}

.header__section__name {
  white-space: nowrap;
}

.header__video {
  -o-object-fit: cover;
     object-fit: cover;
}

.header__h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 5em;
  font-family: sans-serif;
  letter-spacing: 0.2em;
}

.header__h1 .header__span {
  opacity: 0;
  display: inline-block;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.header__section__name:nth-child(1) .header__span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.header__section__name:nth-child(1) .header__span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.header__section__name:nth-child(1) .header__span:nth-child(3) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header__section__name:nth-child(1) .header__span:nth-child(4) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__section__name:nth-child(1) .header__span:nth-child(5) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.header__section__name:nth-child(1) .header__span:nth-child(6) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.header__section__name:nth-child(1) .header__span:nth-child(7) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.header__section__name:nth-child(2) .header__span:nth-child(1) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.header__section__name:nth-child(2) .header__span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header__section__name:nth-child(2) .header__span:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__section__name:nth-child(2) .header__span:nth-child(4) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.header__section__name:nth-child(2) .header__span:nth-child(5) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.header__section__name:nth-child(3) .header__span:nth-child(1) {
  -webkit-animation-delay: 1.75s;
          animation-delay: 1.75s;
}

.header__section__name:nth-child(3) .header__span:nth-child(2) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.header__section__name:nth-child(3) .header__span:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__section__name:nth-child(3) .header__span:nth-child(4) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

html {
  scroll-behavior: smooth;
}

.header__section-description {
  font-size: 1rem;
  border: solid 2px #ddd;
  color: #ddd;
  max-width: 80%;
  margin: 3rem auto 0;
  padding: 10px;
}

.header__section-description {
  opacity: 0;
  display: inline-block;
  -webkit-animation: animate 2s linear forwards;
          animation: animate 2s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.box {
  position: absolute;
  bottom: 8%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box .header__section__scroll {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: scrol 2s infinite;
          animation: scrol 2s infinite;
}

.box .header__scrolldown-button .header__section__scroll:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.box .header__scrolldown-button .header__section__scroll:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes scrol {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes scrol {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.main__h1 {
  font-size: 5rem;
  color: black;
}

.main__p {
  display: inline;
}

.col-md-9 {
  height: 100vh;
}
/*# sourceMappingURL=portfolio.css.map */